.App {
  font-family: sans-serif;
  text-align: center;
}

.amazon-logo
{
  align-items: center;
  height: 50%;
  width: 50%;
}
.starting
{
margin-top: 5em;
margin-bottom: 2em;
}

.addressformbuttons
{
  padding: 2em;
}
.businesspageheader
{
  padding: 3em;

}