@import '~antd/dist/antd.css';
.App {
  font-family: sans-serif;
  text-align: center;
}
.logocontainer
{
  display: flex;
  justify-content: center;
  padding:1rem;

}
/* .amazon-logo
{
  width: 38%;
} */
.starting
{
margin-top: 2rem;
margin-bottom: 2rem;
}

.addressformbuttons
{
  padding: 0.5rem;
}
.businesspageheader
{
  padding: 0.5rem;

}

.searchbarcontainer
{

  padding: rem;
  display: flex;
  justify-content: center;
}
.searchbar
{
  width: 556px;
  height: 50px;
}
.buttoncontainer
{
  display: flex;
  justify-content: center;

}

.steps-content {
  border-radius: 2px;

  text-align: center;

}

.steps-action {
  margin-top: 24px;
}
[data-theme="dark"] .steps-content {
  margin-top: 16px;
  padding-top: 80px;
}
.stepcontainer {
  display: flex;
  justify-content: space-between;
}
.step-content-container
{
  width: 80%;
  margin:2rem;
}
.steps-container
{
  margin:2rem;
  padding:  1.875rem;
}
.actionbuttonscontainer
{
  display: flex;
    justify-content: center;
    margin: 1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


[data-testid="datepicker-input"] {
  width: 42rem;
padding: 10px;
  /* Styles */
}

.dateheadingcontainer
{
  padding: 40px;
  padding-bottom:10px ;
  text-align: start;
}
.sigCanvas
{
  border: 2px grey solid;
  border-radius: 5px;
}

.quotepageheading
{
padding: 20px;
margin: 20px;
}

.ant-layout-header,
.ant-layout-footer {
  background: white;
  color:black;
 
}
.ant-layout-sider
{
  background: white;
  
}

.ant-layout-header
{
  margin: -0.5rem;
}
.sellerpagetext
{
  text-align: start;
  margin: 2.5rem;
}

.addressfield
{
  width:605px;
}

.signaturepadcontainer
{
  margin: 1rem;
}

.quotebuttoncontainer
{
  margin: 1rem;
 
}

.quotebutton
{
  width: 510px;
  height: 40px;
}

.formd
{
  margin: 1rem;
}

.formlabel
{
  text-align: start;
}

.ui.form .field>label
{
  font-weight: 200 !important;
text-align: start;
margin: 0 !important;
}


.footer {
  flex-shrink: 0;
}