.App {
  font-family: sans-serif;
  text-align: center;
}
.logocontainer
{
  display: flex;
  justify-content: center;

}
.amazon-logo
{
  height: 43%;
  width: 43%;
}
.starting
{
margin-top: 5em;
margin-bottom: 2em;
}

.addressformbuttons
{
  padding: 2em;
}
.businesspageheader
{
  padding: 3em;

}

.searchbarcontainer
{

  padding: 2em;
  display: flex;
  justify-content: center;
}
.searchbar
{
  width: 24.375em;
  height: 2.5em;
}
.buttoncontainer
{
  display: flex;
  justify-content: center;

}